{% extends "cupapp/base.html" %}
{% block body_block %}
{% include "cupapp/nav.html" %}

<br />
<div class="container">
    {% for cup in cups_info %}
    <div class="row border rounded">
        <div class="col">
            <div class="row">
                <div class="col-10">
                    <a href="{{ cup.id }}">
                        <big><span class="badge badge-light"># {{ cup.id }}
                        <b>{% if cup.description %}{{ cup.description }}
                        {% else %} {{ cup.name }} {% endif %}</b></span></big>
                    </a>
                </div>
                <div class="col-2 text-right">
                    <a href="{{ cup.id }}">
                        <div class="btn btn-primary btn-sm">
                            Details
                        </div>
                    </a>
                </div>

                <div class="col-6">
                    <span class="badge badge-pill badge-secondary">{{ cup.form }}</span>
                    <span class="badge badge-pill badge-secondary">{{ cup.home_slots }} vs {{ cup.away_slots }}</span>
                </div>
                <div class="col-6 text-right">
                    <small><b>{{ cup.games_played }} / {{ cup.games_total }}</b> matches played</small>
                </div>
                <div class="col-12">
                    {% for player in cup.players %}
                    <span class="badge badge-light">{{ player }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <br />
    {% endfor %}
</div>

{% endblock %}
